*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Didact Gothic",sans-serif; 
  color: #ffffff;
  background-color: #000000;
}

.navbar {
  width: 100%;
  position: fixed;
  background: #474b4f;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px;
  z-index: 1;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.nav-logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
/*
.nav-logo-img-container {
  width: 50px;
  height: 50px;
}

.nav-logo-img {
  width: 100%;
  height: 100%;
}
*/
.nav-logo-name {
  font-size: 25px;
  font-weight: bold;
  text-transform: lowercase;
  color: #86c232;
}

.nav-links {
  display: flex;
}

li {
 list-style: none; 
}

.nav-link {
  display: inline-block;
  padding: 15px;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase; 
  letter-spacing: 1px;
}

.nav-link:hover {
  color: #86c232;
  transition: .5s;
}

.nav-link {
  position: relative;
}

/*hover effect underline stroke*/
.nav-link::after {
  content: '';
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #aaa;
}

.nav-link:hover:after {
  width: 100%;
  transition: .5s;
}

#welcome {
  width: 100%;
  height: 100vh;
  position: relative;
}

/*center*/
.welcome-content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-title {
  font-size: 50px;
  text-align: center;
}

.title-description {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #6b6e70;
}

/*about section*/
#about {
  width: 100%;
  height: 100vh;
}

.about-main-container {
  margin: auto;
  border: 5px solid #47a13c;
}

.title {
  font-size: 35px;
  text-align: center;
  border: 2px solid #00a2ffee;
}

.about-content {
  display: grid;
  gap: 100px;
  grid-template-columns: repeat(2, 1fr);
  border: 4px solid #6d2b2b;
}

.about-description {
  border: 2px solid lightblue;
}

.about-skills {
  border: 2px solid lightcoral;
}

#projects {
  width: 100%;
  height: 100vh;
}

#contact-section {
  width: 100%;
  height: 100vh;
}
